@model DriveEasyApplication.Web.Mvc.Models.Candidate
@{
    ViewData["Title"] = "Candidate Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>



<div class="row">
    <div class="col-md-6">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Basic Information</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputName">Candidate Name</label>
                    <input type="text" id="inputName" asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputContact">Contact</label>
                    <input type="text" id="inputOrganizer" asp-for="MobileNumber" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" id="inputOrganizer" asp-for="Email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputDescription">Skill Set</label>
                    <input type="text" id="inputOrganizer" asp-for="Skills" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputSource">Source</label>
                    <input type="text" id="inputOrganizer" asp-for="Source" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputClientCompany">Company</label>
                    <input type="text" id="inputOrganizer" asp-for="CurrentOrganization" class="form-control">
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Project</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="inputExperience">Year of Experience</label>
                    <input type="text" id="inputOrganizer" asp-for="Experience" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputNoticePeriod">Notice Period</label>
                    <input type="text" id="inputOrganizer" asp-for="NoticePeriod" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputStatus">Interview Status</label>
                    <select asp-for="CandidateStatus" class="form-control custom-select" asp-items="Html.GetEnumSelectList<CandidateStatus>()"></select>                    
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card card-info">
            <div class="card-header">
                <h3 class="card-title">Documents</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><a href="@Model.ResumeLink" target="_blank">Resume Link</a></td>
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                    <a href="#" class="btn btn-primary"><i class="fas fa-download"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="@Model.ResumeLink" target="_blank">CandidateEvaluation</a></td>                            
                            <td class="text-right py-0 align-middle">
                                <div class="btn-group btn-group-sm">
                                    <a href="~/images/Candidate Evaluation Form.docx" download" class="btn btn-info"><i class="fas fa-eye"></i>Sample Template</a>
                                    <a href="#" class="btn btn-danger"><i class="fas fa-upload"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="#" class="btn btn-secondary">Cancel</a>
        <input type="submit" value="Save Changes" class="btn btn-success float-right">
    </div>
</div>